<div class="animate__animated animate__fadeIn animate_faster">
  <div class="row">
    <div class="col">
      <app-pais-input
        (onSearch)="buscar($event)"
        (onDebounce)="sugerencias($event)"
        placeholder="Buscar Capital..."
      ></app-pais-input>
    </div>
  </div>
</div>

<hr>
<div class="alert alert-danger" *ngIf="hayError">
  <span>No se encontró nada con el termino {{termino}} </span>
</div>
<div class="row" *ngIf="paises.length > 0">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
 